<p id="notice"><%= notice %></p>

<div class="query-form">
  <%= render "form", db_query: @db_query %>
</div>

<%= link_to "New Query", "#", class: "js-toggle-query-form" %>

<%= react_component("QueryList", queries: @db_queries.to_json) %>
