<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome to SQL Bro(wser) – a web based SQL Client which supports PostgreSQL, MySQL and Redshift</h3>
  </div>
  <div class="panel-body">
    <p>
      Create first database connection to get started!
    </p>

    <p class="small">
      In case of any issue <a href="https://github.com/makaroni4/sql_bro/issues">open an issue</a>.
    </p>
  </div>
</div>
