<div class="row">
  <div class="col-lg-4">
    <% @db_connections.each do |c| %>
      <div class="list-group">
        <%= link_to "#{c.adapter}: #{c.database}", edit_db_connection_path(c), clasS: "list-group-item" %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Db Connection', new_db_connection_path, class: "btn btn-primary btn-lg" %>
