<h4>
  Tables of <b><%= @db_connection.database %></b> database
</h4>

<a href="#" class="js-refresh-db-tables btn btn-default btn-sm hidden">
  <i class="fa fa-refresh"></i>
  Refresh
</a>

<%= react_component "DbTablesTable", dbConnectionId: @db_connection.id %>
