.header-search-form {
  &__submit {
    outline: none;
    border: none;

    background-color: transparent;
  }

  &__spinner {
    display: none;

    &--active {
      display: block;
    }
  }

  &__fields {
    display: flex;
  }
}
