.query-form-container {
  display: none;
}

.query-form {
  &__editor {
    position: relative;
  }

  &__db-connection {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }

  &__error {
    display: none;

    color: #e51c23;
  }

  &__hide-link {
    margin-left: 8px;
  }
}
